<!DOCTYPE html>
<html lang="en">
<title>Midterm Devops</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/side.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
</style>
<body>
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "420px";
      document.getElementById("main").style.marginLeft = "420px";
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
      document.body.style.backgroundColor = "white";
    }
    </script>


<!-- Header -->
<header class="w3-container w3-amber w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Design of an Automated Fertility Detection System for Chicken Eggs Using Machine Learning.</h1>
</header>

<!-- First Grid -->
&nbsp;
<span class="col-lg-5" style="margin-left:200px; font-size:30px; cursor:pointer" onclick="openNav()">&#9776; &nbsp;&nbsp;User</span>
<hr style="height:5px;border-width:0;color:gray;background-color:gray">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <h2 style="margin-left:20px; font-size:30px; color:white; text-transform: uppercase; text-align: center">{{ username }}</h2>
  &nbsp;
  <img style="margin-left: 25px;" src="https://i.imgur.com/RbHlSF2.png">
  &nbsp;
  &nbsp;
  &nbsp;
  <a href="{{url_for('logout')}}">Log out</a>
</div>
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Current situation/scenario/practice </h1>
      <h5 class="w3-padding-32">According to PSA, The production of chicken meat from 2020 has decreased 7.8 percent from the total production of 2019. From April to June of 2021, the total production was lower by 1.6 percent than the previous year of the same quarter.</h5>

      <h5 class="w3-padding-32">Candling lamp is being used to check the appearance of the egg's embryo. The fertile egg will be used to produce another batch of chickens while the infertile egg will be sold on the market depending on its status.</h5>
    </div>

    <div class="w3-third w3-center">
      <img style="size:300px;height:250px"  src="https://i.imgur.com/gxwCwdu.png" alt="identify eggz">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-amber w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third">
      <img src="https://i.imgur.com/MEK2D90.png" alt="current solution">
    </div>

    <div class="w3-twothird">
      <h1>Existing or similar solutions in the market </h1>
	  <h4>Egg Fertility Tester (Egg Candler) </h4>
      <h5 class="w3-padding-32">Egg candling is an essential process during hatching. This tester was used to check if the embryos are developing correctly. Simply, by placing the egg on the egg tray tester where they will check the appearance of the eggs' embryo every 8th-10th day of the hatching.</h5>
    </div>
  </div>
</div>

<!-- thrid Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Proposed Solution </h1>
      <h4 class="w3-padding-32">The proposed solution is a system that can determine the fertility age and status of the egg. The machine will show the fertility status and recommended incubation environment based on the age of the egg on the screen LCD. </h4>
 </div>

    <div class="w3-third">
      <img style="size:600px;height:450px" src="https://i.imgur.com/IOPVHIn.png" alt="diagram not found"/></a>
    </div>
  </div>
</div>

<!-- Fourth Grid -->
<div class="w3-row-padding w3-amber w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Objectives </h1>
      <ul>
	  <li><h4>To design a system that can give the accurate fertility test by removing the subjective analysis of the test workers. </h4></li>
      <li><h4>To design a system that will be able to prevent egg exploder contamination on the incubation process of the eggs by identifying the fertility status as soon as possible. </h4></li>
      <li><h4>To design a system that can provide an accurate sorting category of the egg based on the fertility status and age. </h4> </li>
      </ul>
    </div>
  </div>
</div>




<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Group 4</h1>
</div>





</body>
</html>
